
body{
	font-family: Arial;
	font-size: 16px;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: white;
}


/*____________________________________________________HEADER AND SHIT ___________________________________________________________*/
/*===============================================================================================================================*/

.headwrap {
	width: 100%;
	min-width: 920px;
	margin: 1% 0 2% 1%;
	top: 0;
}

.logo {
	min-width: 100px;
	width: 80px;
	float: left;
	margin-bottom: 20px;
}

.logo img {
	width: 	100%;
	height: 100%;
}

.contentbox {
	float: left;	
	line-height: 1;
	padding: 0;
	text-align: left;
	line-height: 0.5;
	margin: 0 0 0 0.5%;
	padding: 0 0 0 0;
	min-width: 150px;
}

.logotext {
	height: 100%;
/*	padding: 0 0 0 3%;*/
	display: block;
/*	border: 1px dashed tomato;	*/
}

.searchbar {
	float: right;
	margin: 0 5% 0 0;
	clear: right;
}


.contentbox h1 {
	font-size: 2em;


}
.contentbox p{
	font-size: 1em;
	text-align: right;
}

/*____________________________________________________NAV AND SHIT ___________________________________________________________*/
/*===============================================================================================================================*/

.menu {
	width: 100%;
	position: relative;
	height: 50px;
	min-width: 800px;
	margin: auto 0;
	clear: both;
	font-size: 1em;
	background-color: #5690b4;
}

.menu li {
	padding: 15px;
}

.menu a {
	background-color: #5690b4; 
	color: white;
	text-decoration: none;
}


.menu li:hover a {
	background-color: #bcc5cb;
}

.navleft li {
	display: inline;
	text-decoration: none;
	list-style-type: none;
	float: left;
	border-right: solid  1px white;
	position: relative;
}

.navleft a {

}

.navright {
	margin: 1em;
	padding: 0;
}

.navright a {
	padding: 0 10px;
	background-color: #5690b4; 
	color: white;
}

.navright li {
	display: inline;
	text-decoration: none;
	list-style-type: none;
	float: right;
	border-left: solid  1px white;
}



/*____________________________________________________BODY STYLES AND SHIT ___________________________________________________________*/
/*===============================================================================================================================*/

.content-wrapper {
	width: 100%;
	min-width: 850px;
	position: relative;
	border: 1px dashed tomato;
}

.centerwrap {
	top: 0;
	position: relative;
}

.absolutecenter {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.absolutecenter h1 {
	text-align: center;
}

.infographic {
	margin: 100px auto;
	overflow: hidden;
	width: 1000px;
	height: 400px;
/*	border: 1px dashed tomato;*/
}

.welcome {
	width: 800px;
	margin: 6em auto; 
}
/* -------------------------------------------- ADMIN DASHBOARD -------------------------------------------- */

.div.dashboardContain {
	min-width: 100px; 
	overflow: auto;
	width: 100%;
	background-color: white;
	padding-top: 45px;
}

.dashboardContain {
	min-width: 1500px; 
	height: 100%;
}

.adv {
	width: 800px;
	border: 1px solid black;
	margin: 1em 17em 0 0;
	padding: 2em;
}

/* -------------------------------------------- STYLES FOR ALL ADMIN FORMS -------------------------------------------- */

#adminFormContain {
float: left;
width: 600px;
padding: 15px 60px;
margin: 15px 5%;
border: black 1px solid;
min-width: 900px;
}

.left {
	float: left;
}

.right {
	float: right;
}


/* -------------------------------------------- ADMIN DASHBOARD -------------------------------------------- */

div.dashboardContain {
	overflow: auto;
	width: 100%;
	background-color: white;
	padding-top: 45px;
}




/* -------------------------------------------- STYLES FOR ADMIN MENU -------------------------------------------- */


#menuContain {
	width: 271px;
	height: 350px;
	float: left;
	padding-left: 55px;
}

#menuContain ul {
	list-style-type: none;
	border: 1px black solid;
	padding: 0;
}

#menuContain li a {
	text-decoration: none;
}

li.sidebarItem a:link {color:#666;}      /* unvisited link */
li.sidebarItem a:visited {color:#666;}  /* visited link */
li.sidebarItem a:hover {color:#FF00FF;}  /* mouse over link */
li.sidebarItem a:active {color:#fd24f7;}  /* selected link */


li.sidebarItem {
	padding: 1.5em;
	border-bottom: solid 1px black;
	background-color: #c5c5c5;
}

li.sidebarItem:active {
	background-color: #888888;
	color: white;
}



/* -------------------------------------------- STYLES FOR Login.php -------------------------------------------- */

.logintop {
height: 60px;
width: 270px;
margin: 0 auto; 
border-bottom: 1px solid black;
left: 0;
}

.logintop img{
	margin: 0 auto; 
	float: left;
	width: 20%;
}

.logintop h3 {
	float: left;
}

.loginbottom  {
	margin: 4em 0;
	line-height: 1;
	vertical-align: center;
}

.position {
	margin-left: 170px;
}

.loginbottom input {
	margin-bottom: 2em;
}

/* -------------------------------------------- STYLES FOR contactUs.php -------------------------------------------- */


.row.details {
	margin: 30px 0 30px 8em ;
}


.row.infotext {
	margin: 30px 0 30px 8em ;
}

.contact {
	top: 23em;
}

/* -------------------------------------------- STYLES FOR aboutUs.php -------------------------------------------- */


.aboutCaption {
	width: 80%;
	border: 1px dashed tomato;
	margin: 2em auto 2em auto;

}













.aboutCaption p {
	font-size: 1.3em;
	margin-left: 200px;
	width: 400px;
	height: 400px;
	overflow: scroll;		
	float: left;
}

.aboutCaption h3 {
	text-align: center;
	font-size: 3em;
}

.aboutCaption img {
	float: left;
	width: 40%;
	margin: 0 auto;
}



/* -------------------------------------------- clearfix-------------------------------------------- */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}











 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
