
body{
	font-family: Arial;
	font-size: 16px;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #d5d4d4;
}


.headwrap {
	width: 100%;
	min-width: 800px;
}

.logo {
	border: 1px dashed tomato;
	width: 250px;
	height: 150px;
	float: left;
	margin: 3% 0 3% 6%;

}

.contentbox {
	float: right;	
	line-height: 1;
	padding: 0;
	text-align: right;
	line-height: 0.5;
	margin: 8% 0 3% 6%;
	padding: 0 10% 0 0;
}

.logotext {
	min-width: 350px;
	height: 100%;
/*	padding: 0 0 0 3%;*/
	display: block;
/*	border: 1px dashed tomato;	*/
}



}

.contentbox h1 {
	font-size: 8em;


}
.contentbox p{
	font-size: 1em;
}



.menu {
	width: 100%;
	position: relative;
	height: 50px;
	min-width: 800px;
	margin: auto 0;
	clear: both;
	font-size: 1em;
	background-color: #5690b4;
}

.menu li {
	padding: 15px;
}

.menu a {
	background-color: #5690b4; 
	color: white;
	text-decoration: none;
}


.menu li:hover a {
	background-color: #bcc5cb;
}

.navleft li {
	display: inline;
	text-decoration: none;
	list-style-type: none;
	float: left;
	border-right: solid  1px white;
}

.navleft a {

}

.navright {
	margin: 1em;
	padding: 0;
}

.navright a {
	padding: 0 10px;
	background-color: #5690b4; 
	color: white;
}

.navright li {
	display: inline;
	text-decoration: none;
	list-style-type: none;
	float: right;
		border-left: solid  1px white;
}

.content-wrapper {
	width: 100%;
	min-width: 800px;
	position: relative;
	border: 1px dashed tomato;
}

.landing {

}

.centerwrap {
	top: 450px;
	position: relative;
}

.absolutecenter {
  bottom: 0;
  height: 600px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
}

.absolutecenter h1 {
	text-align: center;
}




