
/* -------------------------------------------- STYLES FOR ALL ADMIN FORMS -------------------------------------------- */

#adminFormContain {
	float: left;
	width: 50%;
	padding: 30px 60px;
	margin: 0 5%;
	border: black 1px solid;
}

.left {
	float: left;
}

.right {
	float: right;
}


/* -------------------------------------------- STYLES FOR ADMIN MENU -------------------------------------------- */


#menuContain {
	width: 20%;
}

ul {
	list-style-type: none;
}

li a {
	text-decoration: none;
}


li {
	padding: 1.5em;
border: solid 1px black;
}